.article__userDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  position: relative;
}

.home__detail {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.title__detail {
  font-size: 2em;
  margin-bottom: 2em;
}

.section__detail {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 100px;
  padding: 1em;
  background-color: rgba(9, 67, 53, 0.638);
  border: 1px solid black;
  border-radius: 0.3em;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 3);
}

.div__img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

.img__detail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.bx-user {
  font-size: 150px;
  padding: 0.05em;
  border: 1px solid black;
  border-radius: 50%;
}

.section__detail > p {
  font-size: 1em;
  margin-bottom: 0.4em;
}
